# Advanvced Python

## Using Utilities and Functions

### Utilities

In [80]:
import itertools

In [8]:
    l = [1, 2, 3, 4, 5, 6]

In [9]:
all(l)

True

In [10]:
min(l)

1

In [11]:
max(l)

6

In [12]:
sum(l)

21

### Iterators

In [24]:
d = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
df = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

In [25]:
i = iter(d)

In [28]:
next(i)

'Tue'

In [29]:
for i,m in enumerate(d, start=1):
    print(i,m)

1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat

In [32]:
for m in zip(d,df):
    print(m)

('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')

In [39]:
for i,m in enumerate(zip(d,df), start=1):
    print(i,m[0], '=', m[1], 'in French')

1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

In [45]:
ddf = zip(d,df)
for i,m in enumerate(ddf):
    print(i,m[0],m[1])

0 Sun Dim
1 Mon Lun
2 Tue Mar
3 Wed Mer
4 Thu Jeu
5 Fri Ven
6 Sat Sam

### Transforms

In [78]:
def fOdds(x):
    if x % 2 == 0: return False
    else: return True


def Lowers(x)    :
    if x.isupper(): return False
    return True
    

def Squares(x):
    return x**2


def Grade(x):
    if (x >= 90): return "A"
    elif (x >= 80 and x < 90): return "B"
    elif (x >= 70 and x < 80): return "C"
    elif (x >= 65 and x < 70): return "D"
    else: return "F"
    
    
def Return(x):
    return x
    
# -------------------------------------------------------------------------------------
n = (1, 8, 4,5,13,0,381,410,58,47)
ch = "abcDeFGHiJklmnoP"
gr = (81,89,94,78,61,66,99,74)

odds = list(filter(fOdds, n))
print(odds)

lowers = list(filter(Lowers,ch))
print(lowers)

'''
The map function takes one or more sequence of values and creates a new sequence

Python map() function is used to apply a function on all the elements of specified 
iterable and return map object. Python map object is an iterator, so we can iterate 
over its elements. We can also convert map object to sequence objects 
such as list, tuple etc. using their factory functions.

Iterable is an object, which one can iterate over. It generates an Iterator when passed 
to iter() method. Iterator is an object, which is used to iterate over an iterable 
object using __next__() method. Iterators have __next__() method, which returns the 
next item of the object.
'''

squares = list(map(Squares, n))
print(squares)

lt = list(map(Grade, gr))
print(lt)

ngr = list(map(Return, n + gr))
#ngr = n + gr
print(type(ngr))
print(ngr)

[1, 5, 13, 381, 47]
['a', 'b', 'c', 'e', 'i', 'k', 'l', 'm', 'n', 'o']
[1, 64, 16, 25, 169, 0, 145161, 168100, 3364, 2209]
['B', 'B', 'A', 'C', 'F', 'D', 'A', 'C']
<class 'list'>
[1, 8, 4, 5, 13, 0, 381, 410, 58, 47, 81, 89, 94, 78, 61, 66, 99, 74]

### Itertools

In [103]:
# https://docs.python.org/3/library/itertools.html
seq1 = ["Joe", "John", "Mike"]

# Cycles through the list and start from beginning
cycle1 = itertools.cycle(seq1)
for i in range(10): print(next(cycle1))

Joe
John
Mike
Joe
John
Mike
Joe
John
Mike
Joe

In [104]:
# count iterator starts with a number and increments by another (def=1)
count1 = itertools.count(100,10)
for i in range(10): print(next(count1))

100
110
120
130
140
150
160
170
180
190

In [112]:
vals = [10,9,30,40,5,60,3]

# Adds all values up to the current
acc = itertools.accumulate(vals)
print(list(acc))

# Prints out the values as such until the max is reached
acc = itertools.accumulate(vals, max)
print(list(acc))

# Prints out the values as lower of the current and previous
acc = itertools.accumulate(vals, min)
print(list(acc))

[10, 19, 49, 89, 94, 154, 157]
[10, 10, 30, 40, 40, 60, 60]
[10, 9, 9, 9, 5, 5, 3]

In [121]:
# 'Chain' to connect two sequences
x = itertools.chain("ABCD", "1234")
#x = "ABCD" + "1234"
print(type(x))

# 'list' converts a string to its chars and a chain object into its chars as well
print(list(x))

<class 'itertools.chain'>
['A', 'B', 'C', 'D', '1', '2', '3', '4']